<template>
  <div>
    SubModule component! <br/>
    Vuex: {{ text }}
  </div>
</template>

<script>
import {mapState} from "vuex";

export default {
  name: "SubModule",

  computed: {
    ...mapState('subModule', ['text'])
  }
}
</script>

<style scoped>

</style>